name: CD - Generate Deployment Artifacts

on:
  workflow_dispatch:  
    inputs:
      tag:
        description: 'Image tag to deploy (e.g. latest or SHA)'
        required: true
        default: 'latest'

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout infra repo
        uses: actions/checkout@v4
        with:
          repository: Helbrecht/petclinic-infra
          path: infra

      - name: Generate Helm command
        run: |
          echo "helm upgrade --install petclinic infra/helm/petclinic-chart \
            --namespace petclinic --create-namespace \
            --set image.repository=ghcr.io/helbrecht/petclinic \
            --set image.tag=${{ github.event.inputs.tag }}" > deploy-command.txt

      - name: Upload deployment command
        uses: actions/upload-artifact@v4
        with:
          name: deploy-command
          path: deploy-command.txt